.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.flex_centre {
    border: 1px solid black;
    margin:auto;    
    justify-content: center;
    align-items: center;


    .loginForm {              
        margin-left: auto;
        margin-right: auto;
    }
}
